<br>
<form class="form-signin" #loginForm="ngForm" (ngSubmit)="loginAsync(loginForm)">
<div class="p-fluid" >
    <div class="p-field">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" pInputText [(ngModel)]="username">
    </div>
    <div class="p-field">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" pInputText [(ngModel)]="password">
    </div>
    <br>
<p-button label="Login" icon="pi pi-check" iconPos="left" type="ngSubmit"></p-button>
</div>
<form>
